<div class="container">
    <form #reportForm="ngForm">
        <div class="form-group">
            <label for="date">Dátum</label>
            <div class="input-group">
                <input
                    class="form-control"
                    placeholder="yyyy-mm-dd"
                    name="date"
                    [(ngModel)]="date"
                    (dateSelect)="dateSelected($event)"
                    ngbDatepicker
                    #d="ngbDatepicker"
                />
                <div class="input-group-append">
                    <button
                        class="btn btn-outline-secondary"
                        (click)="d.toggle()"
                        type="button"
                    >
                        <fa-icon icon="calendar"></fa-icon>
                    </button>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="temperature">Testhőmérséklet</label>
            <div class="input-group">
                <input
                    class="form-control"
                    id="temperature"
                    name="temperature"
                    [(ngModel)]="model.temperature"
                    type="number"
                    step="0.1"
                    min="35.0"
                    max="43.0"
                    required
                />
                <div class="input-group-append">
                    <span class="input-group-text">
                        &deg;C
                    </span>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-success">Tünetek jelentése</button>
    </form>
</div>
